# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Python virtual environment
venv/

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
/src/.env

# Specific to your file structure
/babel.config.js
/config-overrides.js
/package.json

# Assuming these directories exist in your project
/public

# Other common files or directories to ignore if present
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig

# IDE and OS specific files
.vscode/
.idea/