# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Python virtual environment
venv/

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files
/src/.env

/babel.config.js
/config-overrides.js

# Other common files 
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig

# IDE and OS specific files
.vscode/
.idea/